<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}先生の情報編集"%>
      </h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
       <%= render "devise/shared/error_messages", resource: resource %>
        <table class="table">
          <tbody>
            <tr>
              <th class="table__col1">ニックネーム</th>
              <td class="table__col2">
                <div class="field">
                  <%= f.text_field :nickname, id:"user_nickname" %>
                </div>
              </td>
            </tr>
            <tr>
              <th class="table__col1">姓</th>
              <td class="table__col2">
                <div class="field">
                  <%= f.text_field :last_name, id:"user_last_name" %>
                </div>
              </td>
            </tr>
            <tr>
              <th class="table__col1">名</th>
              <td class="table__col2">
                <div class="field">
                  <%= f.text_field :first_name, id:"user_first_name" %>
                </div>
              </td>
            </tr>
            <tr>
              <th class="table__col1">セイ</th>
              <td class="table__col2">
                <div class="field">
                  <%= f.text_field :last_name_kana, id:"user_:last_name_kana" %>
                </div>
              </td>
            </tr>
            <tr>
              <th class="table__col1">メイ</th>
              <td class="table__col2">
                <div class="field">
                  <%= f.text_field :first_name_kana, id:"user_first_name_kana" %>
                </div>
              </td>
            </tr>
            <tr>
              <th class="table__col1">年齢</th>
              <td class="table__col2">
                <div class="field">
                  <%= f.text_field :age, id:"user_age" %>
                </div>
              </td>
            </tr>
            <tr>
              <th class="table__col1">学校名</th>
              <td class="table__col2">
                <div class="field">
                  <%= f.text_field :school, id:"user_school" %>
                </div>
              </td>
            </tr>
            <tr>
              <th class="table__col1">担当教科</th>
              <td class="table__col2">
                <div class="field">
                  <%= f.text_field :subject, id:"user_subject" %>
                </div>
              </td>
            </tr>
            <tr>
              <th class="table__col1">部活動</th>
              <td class="table__col2">
                <div class="field">
                  <%= f.text_field :club, id:"user_club" %>
                </div>
              </td>
            </tr>
            <tr>
              <th class="table__col1">一言</th>
              <td class="table__col2">
                <div class="field">
                  <%= f.text_area :a_word, id:"user_a_word" %>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
          <div class="actions">
          <%= f.submit "投稿する", class: :form__btn  %>
           </div>
      <% end %>  
      <%=link_to '戻る', :back, class:'back-btn' %>
    </div>
  </div>
</div>