<% breadcrumb :user_edit, @user %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class:"registration-main" }) do |f| %>

  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        <%= "#{@user.nickname}先生の情報編集"%>
      </h1>
    </div>

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <p class='form-info-header'>
        基本情報
      </p>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">ニックネーム</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :nickname, class:"input-default", id:"user_nickname", placeholder:"例) 国語太郎", maxlength:"40" %>
    </div>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">年齢</label>
          <span class="indispensable">任意</span>
        </div>
        <%= f.select :age, [["",""], ["20代","20"], ["30代","30"], ["40代","40"], ["50代","50"], ["60代","60"], ["70代以上","70"] ], {}, class:"input-name", id:"user_age" %>
      </div>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">性別</label>
          <span class="indispensable">任意</span>
        </div>
        <%= f.select :sex, [["",""], ["女性","女性"], ["男性","男性"]], {}, class:"input-name", id:"user_sex" %>
      </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">学校</label>
        <span class="indispensable">任意</span>
      </div>
      <%= f.text_field :school, class:"input-default", id:"user_school", placeholder:"例)〇〇学校", maxlength:"40" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">担当教科</label>
        <span class="indispensable">任意</span>
      </div>
      <%= f.text_field :subject, class:"input-default", id:"user_subject", placeholder:"例)国語", maxlength:"40" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">部活動</label>
        <span class="indispensable">任意</span>
      </div>
      <%= f.text_field :club, class:"input-default", id:"user_club", placeholder:"例)〇〇部", maxlength:"40" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">自己紹介</label>
        <span class="indispensable">任意</span>
      </div>
      <%= f.text_area :introduce, class:"input-default", id:"user_introduce", placeholder:"例)よろしくお願いします！", maxlength:"40" %>
    </div>


    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">プッロフィール写真</label>
        <span class="indispensable">任意</span>
        <div class="form-image">
          <% if @user.image? %>
            <%= image_tag @user.image.url %>
          <% else %>
          <%= image_tag("/images/no-image.png") %>
          <% end %>
          <%= f.file_field :image, class:"input-default", id:"user_image" %>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "更新", class: :form__btn %>
    </div> 
    <%=link_to '戻る', :back, class:'back-btn' %>
  </div>
<% end %>
