<% breadcrumb :follows_user, @user %>
<div class="registration-main">
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        フォロワー
      </h1>
    </div>

      <% @users.each do |user| %>
        <%= link_to user_path(user) do %>
        <div class="follow-header">
          <div>
            <div class="user-image">
              <% if user.image? %>
                <%= image_tag user.image.url %>
              <% else %>
                <%= image_tag("/images/no-image.png") %>
              <% end %>
            </div>
            <div class="user-info">
              <div class="info-nickname">
                <%= user.nickname %>
              </div>

              <div class="info-introduce">
                <%= user.introduce %>
              </div>
            </div>
          </div>

        </div>
        <% end %>
      <% end %>
  </div>
</div>

