<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}先生の情報"%>
      </h2>
      <div class="post__manage">
        <%= link_to "フォロー", root_path, class: :post__btn%>
        <%= link_to "フォロワー", root_path, class: :post__btn %>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">ニックネーム</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="table__col1">年齢</th>
            <td class="table__col2"><%= @user.age %></td>
          </tr>
          <tr>
            <th class="table__col1">学校名</th>
            <td class="table__col2"><%= @user.school %></td>
          </tr>
          <tr>
            <th class="table__col1">担当教科</th>
            <td class="table__col2"><%= @user.subject %></td>
          </tr>
          <tr>
            <th class="table__col1">部活動</th>
            <td class="table__col2"><%= @user.club %></td>
          </tr>
          <tr>
            <th class="table__col1">一言</th>
            <td class="table__col2"><%= @user.a_word %></td>
          </tr>
        </tbody>
      </table>
      <div class="post__manage">
        <%= link_to "チャット", root_path, class: :post__btn%>
      </div>
      <% if user_signed_in? && current_user.id == @user.id %>
        <div class="post__manage">
          <%= link_to "編集する", edit_user_registration_path, class: :post__btn%>
          <%= link_to "削除する", root_path, class: :post__btn, method: :delete %>
        </div>
      <% end %>
      <h2 class="page-heading">
        <%= "#{@user.nickname}先生の投稿"%>
      </h2>
      <div class="user__card">
        <%= render partial: 'posts/post', collection: @user.posts %>
      </div>
    </div>
  </div>
</div>