<%= form_with model:  @post_form,  url: url, method: method, class: 'registration-main', id: 'new_post', local: true do |f| %>
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        新規投稿
      </h1>
    </div>

    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">教科名</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :subject, class:"input-default", id:"post_subject", placeholder:"例) 社会", maxlength:"40" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">科目名</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :course, class:"input-default", id:"post_course", placeholder:"例)政治経済 ", maxlength:"40" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">単元名</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :unit, class:"input-default", id:"post_unit", placeholder:"例)選挙の仕組み ", maxlength:"40" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">教材名</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :teaching_materials, class:"input-default", id:"post_teaching_materials", placeholder:"例)〇〇出版 ", maxlength:"40" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">導入時間(数字)</label>
        <span class="indispensable">必須</span>
      </div>
      <span>
      <%= f.text_field :introduction_time, class:"input-name", id:"post_introduction_time", placeholder:"例)5", maxlength:"40" %>分
      </span>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">導入</label>
        <span class="indispensable">必須</span>
      </div>
        <%= f.text_area :introduction, class:"input-class", id:"post_introduction", placeholder:"導入を記入してください", maxlength:"40" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">展開時間(数字)</label>
        <span class="indispensable">必須</span>
      </div>
      <span>
        <%= f.text_field :development_time, class:"input-name", id:"post_development_time", placeholder:"例)40", maxlength:"40" %>分
      </span>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">展開</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :development, class:"input-class", id:"post_development", placeholder:"展開を記入してください", maxlength:"40" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">まとめ時間(数字)</label>
        <span class="indispensable">必須</span>
      </div>
      <span>
        <%= f.text_field :summary_time, class:"input-name", id:"post_summary_time", placeholder:"例)5", maxlength:"40" %>分
      </span>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">まとめ</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :summary, class:"input-class", id:"post_summary", placeholder:"まとめを記入してください", maxlength:"40" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">板書案・スライド</label>
        <span class="indispensable">任意</span>
      </div>
      <div id="previews"></div>
      <div class="click-upload">
        <%= f.file_field :images, name: 'post_form[images][]', data: {index: 0}, id:"post_images" %>
      </div>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">タグ</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :tag_name, class:"input-default", id:"post_tag_name", placeholder:"例)選挙" %>
      <div id="search-result"></div>
    </div>

    <div class="actions">
      <%= f.submit "投稿する", class: :form__btn %>
    </div>
  </div>
<% end %>