<div class="card">
  <div class="card__body">
    <div class="card__header">
      <%= link_to user_path(post.user.id) do%>
        <div class="user-image">
          <% if post.user.image? %>
            <%= image_tag post.user.image.url %>
          <% else %>
            <%= image_tag("/images/no-image.png") %>
          <% end %>
        </div>
      <% end %>
      
      <div class="user__name">
        <%= link_to "#{post.user.nickname}先生", user_path(post.user.id) %>
      </div>
      <div class="post-edit">
        <%= link_to "edit_post_path" do %>
          <i class="bi bi-gear"></i>
        <% end %> 
      </div>
    </div>
    <div class="card-img">
      <% if post.images.present? %>
        <%= link_to image_tag(post.images[0], class: :card__img ), post_path(post.id) if post.images.attached? %>
      <% else %>
        <%= link_to image_tag('no-post.png', class: :card__img ), post_path(post.id) %>
      <% end %>
    </div>
    
    <div class="card__name">
      <div class=card__title>
        <%= link_to post.unit, post_path(post.id), class: :card__title %>
      </div>
      <div class="card_sub_title">
        <%= link_to post.course, post_path(post.id), class: :card_sub_title %>
      </div>
    </div>
    <div class="card-footer">
      <div class="like-btn">
        <div id="like-btn-<%= post.id %>">
          <%= render 'likes/like', post: post %>
        </div>
      </div>
      <%= link_to post_path(post.id) do %>
      <div class="chat-btn">
        <div class="chat-icon">
          <i class="bi bi-chat-dots"></i>
        </div>
        <div class="chat-count">
          <%= post.comments.count %>
        </div>
      </div>
      <% end%>
    </div>
  </div>
</div>