<% if params[:page].nil? || params[:page] == 1 %>
  <% breadcrumb :root %>
<% else %>
  <% breadcrumb :posts_pagination, params[:page] %>
<% end %>

<main class="main">
  <div class="inner">
    <div class="greeting">
      <% if user_signed_in? %>
        <%= "こんにちは" %>
        <%= link_to "#{current_user.nickname}", user_path(current_user), class: :greeting__link %>
        <%= "先生" %>
      <% end%> 
    </div>
      <div class="search">
        <%= form_with url: posts_path, method: :get, local: true do |f| %>
          <%= f.text_field :search, class:"input-search", id:"input_search", maxlength:"40" %>
          <%= f.submit '検索', class: :form__btn %>
        <% end %>
      </div>
      
    <div class="card__wrapper">
      <%= render partial: "post", collection: @post %>
    </div>
     <%= paginate @post %>
  </div>
</main>
